#question,
#question #title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#question {
    width: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

#question #title {
    margin-bottom: 20px;
}

#answers {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#question button {
    max-width: 500px;
    margin: 20px 0;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

#question img {
    /*taille fixe aux images pour plus d'écoconception*/
    width: 10%;
    height: auto;
}

.question-container {
    height: 100vh;
    display: flex;
    align-items: center;
}
